.documentation
{
    width: 900px;
    margin: 0 auto;
    padding: 50px 0;
}

.documentation .page-title
{
    font-size: 33px;
    margin-bottom: 20px;
    font-weight: 600;
}

.documentation .desc
{
    margin-bottom: 15px;
}

.documentation .table
{
    margin-bottom: 40px;
}

.documentation .table table
{
    width: 100%;
    border-collapse: collapse;
    font-family: 'Roboto Mono', serif;
}

.documentation .table .desc
{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.documentation .table table thead
{

}

.documentation .table table thead tr
{

}

.documentation .table table thead tr th
{
    padding: 6px;
    border: #ddd 1px solid;
    font-weight: bold;
}

.documentation .table table tbody
{

}

.documentation .table table tbody tr
{

}

.documentation .table table tbody tr:nth-child(2n)
{
    background-color: #f8f8f8;
}

.documentation .table table tbody tr td
{
    padding: 6px 12px;
    border: #ddd 1px solid;
    font-size: 12px;
}

.documentation .table table tbody tr td:first-child
{
    width: 260px;
}

.documentation .hl-code
{
    font-family: 'Roboto Mono', serif;
    font-size: 12px;
    background-color: #3a87ad;
    color: #fff;
    font-weight: bold;
    padding: 2px 4px 3px;
    border-radius: 3px;
}