.transition-20
{
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.transition-500
{
    -webkit-transition: all 5s ease-in-out;
    transition: all 5s ease-in-out;
}

.fade.ng-animate
{
    position: absolute;
    margin: auto;
    width: 100%;
}

.fade.ng-leave
{
    opacity: 1;
    transform: translateY(0);

}

.fade.ng-leave-active
{
    opacity: 0;
    transform: translateY(30px);
}

.fade.ng-enter
{
    opacity: 0;
    transform: translateY(30px);

}

.fade.ng-enter-active
{
    opacity: 1;
    transform: translateY(0);
}

