<!DOCTYPE html>
<html lang="en" ng-app="demo" ng-controller="demo as c">
<head>
    <meta charset="UTF-8">
    <title>SuggestBox demo page</title>

    <!-- inject:js -->
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/js/module.js"></script>
    <script src="/js/dropdown.js"></script>
    <script src="/js/removeitemfromselection.js"></script>
    <script src="/js/selectionlist.js"></script>
    <script src="/js/suggestbox.js"></script>
    <script src="/js/triggerarea.js"></script>
    <script src="/js/typeahead.js"></script>
    <script src="/demo/demo.js"></script>
    <!-- endinject -->

    <!-- inject:css -->
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/demo.css">
    <link rel="stylesheet" href="/css/suggestbox.css">
    <!-- endinject -->

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
</head>
<body style="
font-family: 'Open Sans', sans-serif;
">

<div class="example-block">
    <div class="title">Example 1</div>
    <div
        az-suggest-box
        sb-list="i in c.items"
        sb-model="s in c.selectedItem1"
        class="suggest-box"
        sb-on-selection-change="c.change()"
        sb-close-list-on-select="false"
        sb-allow-duplicates="false"
        sb-selected-list-item-class="sb-list-item-checked"
        name="sb1"
    >

        <div class="select">
            <div class="input">
                <div sb-selection-item class="selection-item">{{s.name}}&nbsp;<span sb-remove-item-from-selection class="rem-btn"><i class="fa fa-times"></i></span></div>
                <input sb-trigger-area sb-type-ahead ng-model="searchText">
            </div>

            <button sb-trigger-area><i class="fa fa-chevron-down"></i><i class="fa fa-chevron-up"></i></button>
        </div>

        <ul class="dropdown">
            <li sb-dropdown-item class="item">{{i.name}} ({{i.email}})</li>
        </ul>
    </div>

</div>

<div class="example-block">
    <div class="title">Example 2</div>
    <div
        az-suggest-box
        sb-list="i in c.items"
        sb-model="s in c.selectedItem2"
        class="suggest-box"
        sb-on-selection-change="c.change()"
        sb-close-list-on-select="false"
        sb-allow-duplicates="false"
        name="sb2"
        >

        <div class="select">
            <div class="input">
                <div sb-selection-item class="selection-item">{{s.name}}&nbsp;<span sb-remove-item-from-selection class="rem-btn"><i class="fa fa-times"></i></span></div>
                <input sb-trigger-area sb-type-ahead ng-model="searchText">
            </div>

            <button sb-trigger-area><i class="fa fa-chevron-down"></i><i class="fa fa-chevron-up"></i></button>
        </div>

        <ul class="dropdown">
            <li sb-dropdown-item class="item">{{i.name}} ({{i.email}})</li>
        </ul>
    </div>

</div>

<div class="example-block">
    <div class="title">Example 3</div>
    <div
        az-suggest-box
        sb-list="i in c.items"
        sb-model="s in c.selectedItem3"
        class="suggest-box"
        sb-on-selection-change="c.change()"
        sb-close-list-on-select="false"
        sb-allow-duplicates="true"
        name="sb3"
        >

        <div class="select">
            <div class="input">
                <div sb-selection-item class="selection-item">{{s.name}}&nbsp;<span sb-remove-item-from-selection class="rem-btn"><i class="fa fa-times"></i></span></div>
                <input sb-trigger-area sb-type-ahead ng-model="searchText">
            </div>

            <button sb-trigger-area><i class="fa fa-chevron-down"></i><i class="fa fa-chevron-up"></i></button>
        </div>

        <ul class="dropdown">
            <li sb-dropdown-item class="item">{{i.name}} ({{i.email}})</li>
        </ul>
    </div>

</div>

</body>
</html>
